body {
  background : rgba(10, 4, 4, 0.788);
}

h1{
  color: white;
}

.card__style{
margin-bottom: 2rem;
background-color: #FFC0B2;
box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
transition: 0.3s;

}
  

.card__style:hover{
  box-shadow: 0 8px 16px 0 rgb(252, 248, 248);
}